<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="think_admin_OrgPage" patternSyntax="ECMAScript" stopProcessing="true">
        <match url="^(.*)$" ignoreCase="true" negate="false" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="true" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true" />
        </conditions>
        <action type="Rewrite" url="index.php?s={R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>